body {
    font-family: 'Helvetica', sans-serif;
    background-image: url(inside3.webp);
    margin: auto 0;
    padding: 0;
}

  /* navabar aniamtion */

{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: grey;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

header {
   
    animation: fadeIn 1s ease-in-out;
}

   .menu {
    width: auto;
    height: auto;
    margin: 100px auto 0; 
    background-color: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.food-list, .wine-pairing, .wine-recommendation, .price {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    color: white;
    text-align: center;
}

h2 {
    color: white;
    font-size: 20px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.food-item {
    margin-bottom: 25px;  
    font-size: 18px;
    color: white;
    text-align: center;
    position: relative;  
}



.price {
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-top: 15px;
}

.wine-pairing p, .wine-recommendation p {
    margin-bottom: 15px;
}

/* wine-list aniamtion*/ 

.wine-pairing {
    font-family: 'Arial', sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

.wine {
    margin-bottom: 25px;
    line-height: 1.4;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.wine p {
    margin: 0;
    transition: color 0.3s ease-in-out;
}

.wine:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.wine:hover p:first-child {
    color: goldenrod;
}

.wine-info {
    opacity: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-align: center;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    width: auto;
    justify-content: center;
    text-align: center;
    position: relative;
}

.wine:hover .wine-info {
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* courses animation */

.course-description {
    opacity: 0;
    position: absolute;  
    top: 100%;  
    left: 50%;  
    transform: translateX(-50%) translateY(10px); 
    text-align: center;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    width: auto;
}

.food-item {
    margin-bottom: 25px;
    line-height: 1.4;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.food-item p {
    margin: 0;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.food-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.0);
}

.food-item:hover p:first-child {
    color: goldenrod;
}

.course-description {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-align: left;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    justify-content: center;
}

.food-item:hover .course-description {
    opacity: 1;
    animation: fadeIn 1.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* reservation animation */

a.animated-button {
    display: block;
    text-align: center; 
    line-height: 2;         
    background-color: black;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  a.animated-button:hover {
    background-color: #333;
    transform: scale(1.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  

  
  
  
  
