body {
  margin: 0;
  padding: 0;
  background: url('inside3.webp') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
}

/* navabar aniamtion */

{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: grey;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


header {
  padding: 50px 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

h1 {
  margin: 0;
  font-size: 3em;
  letter-spacing: 2px;
  animation: fadeInUp 1s ease-in-out;
}

h2 {
  margin: 0;
  font-size: 2em;
  letter-spacing: 2px;
  animation: fadeInUp 1s ease-in-out;
  justify-content: center;
}

@keyframes fadeInUp {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

p {
  margin: 20px 0;
  font-size: 1.2em;
  letter-spacing: 1px;
  animation: fadeIn 1s ease-in-out;
}

main {
  padding: 20px;
}

section {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  animation: fadeIn 1s ease-in-out;
}

h2, h3 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.tooltip {
  font-style: italic;
  color: #ccc;
}

.reservation-btn {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 30px;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #d3d3d3; /* Light grey */
  border-radius: 5px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  10% {
      transform: scale(1.01);
  }
  20% {
      transform: scale(1);
  }
}

.reservation-btn:hover {
  background-color: #ff0000;
  color: black;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
