body {
    font-family: 'Helvetica', sans-serif;
    background-image: url(../images/inside3.webp);
    margin: 105px auto 0;

}



body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: grey;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



header {
    padding: 50px 20px;
    animation: fadeIn 1s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: azure;
}

.whiskey-section {
    text-align: center;
    padding: 50px;
    transition: transform 0.3s ease; 
    margin-bottom: 30px;
}

.whiskey-section:hover {
    transform: scale(1.02);
}

h2 {
    color: white;
}

p {
    color: white;
    margin-bottom: 20px;
}

.details {
    text-align: left;
    margin-top: 30px;
}

.featured-whiskeys {
    text-align: left;
    margin-top: 20px;
}

.reservation-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.reservation-button:hover {
    background-color: red;
    transform: scale(1.05);
}


.blended-whiskey {
    background-image: url(../images/w1.jpg);
}


.single-malt-whiskey {
    background-image: url(../images/w1.jpg); 
}

.barrel-proof-whiskey {
    background-image: url(../images/w1.jpg); 
}


.highland-whiskey {
    background-image: url(../images/w1.jpg); 
}

.single-cask-whiskey {
    background-image: url(../images/w1.jpg);  
}